<div class="container p-4">
  <h1 class="text-2xl font-bold mb-4">Create New Fund</h1>

  <div class="search-section mb-4">
    <label for="searchQuery" class="block text-gray-700 text-sm font-bold mb-2"
      >Search Fund:</label
    >
    <p-autocomplete
      styleClass="w-full"
      inputStyleClass="w-full"
      [suggestions]="searchResults"
      (completeMethod)="searchFunds($event)"
      (onSelect)="onSelectedFund($event)"
      optionLabel="schemeName"
    />
  </div>

  <div class="details-section" *ngIf="fundDetails" class="border rounded p-4">
    <h2 class="text-xl font-semibold mb-2">Fund Details</h2>
    <p class="mb-1">Scheme Name: {{ fundDetails.schemeName }}</p>
    <p class="mb-1">NAV: {{ fundDetails.nav }}</p>
    <p class="mb-1">Date: {{ fundDetails.date }}</p>

    <button
      (click)="saveFund()"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
    >
      Save Fund
    </button>
  </div>

  <div class="overflow-x-auto">
    <p-table [value]="funds" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template #header>
        <tr>
          <th pSortableColumn="fund_code">
            Fund Code <p-sortIcon field="fund_code" />
          </th>
          <th pSortableColumn="fund_name">
            Fund Name <p-sortIcon field="fund_name" />
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-fund>
        <tr>
          <td>{{ fund.fund_code }}</td>
          <td>{{ fund.fund_name }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
