<div class="flex justify-center items-center h-screen w-full">
  <div class="card w-96 p-6 shadow-lg">
    <h2 class="text-2xl font-semibold mb-4">Sign In</h2>
    <div class="mb-4">
      <label for="email" class="block text-gray-700 text-sm font-bold mb-2">
        Email
      </label>
      <input
        type="text"
        id="email"
        [(ngModel)]="email"
        class="input input-bordered w-full"
      />
    </div>
    <div class="mb-4">
      <label for="password" class="block text-gray-700 text-sm font-bold mb-2">
        Password
      </label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        class="input input-bordered w-full"
      />
    </div>
    <button type="button" (click)="signInWithEmail()" class="btn btn-primary">
      Sign In
    </button>
  </div>
</div>
