<div class="container p-4">
  <h1 class="text-2xl font-bold mb-4">Transactions</h1>

  <div class="mb-4">
    <button (click)="openModal()" class="btn btn-primary">
      Add Transaction
    </button>

    <input
      type="file"
      #csvFileInput
      (change)="handleFileUpload($event)"
      accept=".csv"
      class="hidden"
    />
    <button class="btn" (click)="csvFileInput?.click()">Upload CSV</button>
    <button class="btn" (click)="csvData = []">Cancel</button>

    <button
      class="btn"
      (click)="uploadTransactions()"
      [disabled]="csvData.length === 0"
    >
      Save
    </button>
    <a
      href="/assets/transactions_template.csv"
      download="transactions_template.csv"
      >Download Template</a
    >
  </div>

  <div>
    <p-table
      #dt1
      [lazy]="true"
      [value]="tempTransactions"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      (onPage)="pageChange($event)"
      (onFilter)="onFilterChange($event)"
      [rowsPerPageOptions]="[rows, 25, 50]"
      [globalFilterFields]="['transaction_type', 'mutual_funds.fund_name']"
    >
      <ng-template #header>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Fund</th>
          <th>Units</th>
          <th pSortableColumn="status" style="min-width: 10rem">
            <div class="flex justify-between items-center">
              Status
              <p-columnFilter
                field="status"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template #filter let-filter="filterCallback">
                  <p-multiselect
                    [options]="statuses"
                    placeholder="Any"
                    (onChange)="filter($event.value)"
                    optionLabel="label"
                  >
                    <ng-template let-option #item>
                      <div class="flex items-center gap-2">
                        <span>{{ option.value }}</span>
                      </div>
                    </ng-template>
                  </p-multiselect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th>Price</th>
          <th>Platform</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template #body let-transaction>
        <tr>
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.mutual_funds?.fund_name }}</td>
          <td>{{ transaction.units }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.price }}</td>
          <td>{{ transaction.platform }}</td>
          <td>
            <button
              (click)="openModal(transaction)"
              class="btn btn-sm btn-info mr-2"
            >
              Edit
            </button>
            <button
              (click)="deleteTransaction(transaction.transaction_id || '')"
              class="btn btn-sm btn-error"
            >
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Fund</th>
          <th>Units</th>
          <th>Status</th>
          <th>Price</th>
          <th>Platform</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.mutual_funds?.fund_name }}</td>
          <td>{{ transaction.units }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.price }}</td>
          <td>{{ transaction.platform }}</td>
          <td>
            <button
              (click)="openModal(transaction)"
              class="btn btn-sm btn-info mr-2"
            >
              Edit
            </button>
            <button
              (click)="deleteTransaction(transaction.transaction_id || '')"
              class="btn btn-sm btn-error"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <!-- Modal -->

  <p-dialog
    [header]="selectedTransaction ? 'Edit Transaction' : 'Add Transaction'"
    [modal]="true"
    [(visible)]="showModal"
    [style]="{ width: '50vw' }"
  >
    <form
      class="w-full"
      [formGroup]="transactionForm"
      (ngSubmit)="saveTransaction()"
    >
      <div style="display: flex; flex-direction: column; gap: 1rem">
        <div>
          <label>
            <span>Fund</span>
          </label>
          <p-select
            formControlName="fund_id"
            [options]="funds"
            optionLabel="fund_name"
            optionValue="fund_id"
            placeholder="Select a Fund"
            class="w-full"
          />
        </div>
        <div class="form-control">
          <label>
            <span>Platform</span>
          </label>
          <p-select
            formControlName="platform"
            [options]="platform"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Platform"
            class="w-full"
          />
        </div>
        <div>
          <label>
            <span>Transaction Date</span>
          </label>
          <input
            type="date"
            class="input input-bordered"
            formControlName="transaction_date"
          />
        </div>

        <div>
          <label>
            <span>Transaction Type</span>
          </label>

          <p-select
            formControlName="transaction_type"
            [options]="statuses"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Type"
            class="w-full"
          />
        </div>
        <div>
          <label>
            <span>Units</span>
          </label>
          <input
            type="number"
            placeholder="Units"
            class="input input-bordered"
            formControlName="units"
          />
        </div>
        <div>
          <label>
            <span>Price</span>
          </label>
          <input
            type="number"
            placeholder="Price"
            class="input input-bordered"
            formControlName="price"
          />
        </div>

        <div style="display: flex; gap: 2rem; justify-content: end">
          <button type="submit" class="btn btn-primary">
            {{ selectedTransaction ? "Update" : "Create" }}
          </button>
          <button type="button" class="btn" (click)="closeModal()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </p-dialog>

  <div *ngIf="failedTransactions.length > 0">
    <h3>Failed Transactions</h3>
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Fund Code</th>
          <th>Units</th>
          <th>Price</th>
          <th>Platform</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of failedTransactions">
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.fund_code }}</td>
          <td>{{ transaction.units }}</td>
          <td>{{ transaction.price }}</td>
          <td>{{ transaction.platform }}</td>
          <td>{{ transaction.error }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
