<div class="container p-4">
  <h1 class="text-2xl font-bold mb-4">Transactions</h1>

  <div class="mb-4">
    <button (click)="openModal()" class="btn btn-primary">
      Add Transaction
    </button>
    <!-- <select
      multiple
      [(ngModel)]="selectedStatuses"
      (change)="getTransactions()"
    >
      <option *ngFor="let status of statusOptions" [value]="status">
        {{ status }}
      </option>
    </select>

    <select
      multiple
      [(ngModel)]="selectedTransactionTypes"
      (change)="getTransactions()"
    >
      <option value="BUY">BUY</option>
      <option value="SELL">SELL</option>
    </select> -->
    <input
      type="file"
      #csvFileInput
      (change)="handleFileUpload($event)"
      accept=".csv"
      class="hidden"
    />
    <button class="btn" (click)="csvFileInput?.click()">Upload CSV</button>
    <button class="btn" (click)="csvData = []">Cancel</button>
    <!-- <select multiple>
      <option *ngFor="let status of statusOptions" [value]="status">
        {{ status }}
      </option>
    </select> -->

    <button
      class="btn"
      (click)="uploadTransactions()"
      [disabled]="csvData.length === 0"
    >
      Save
    </button>
    <a
      href="/assets/transactions_template.csv"
      download="transactions_template.csv"
      >Download Template</a
    >
  </div>

  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Fund</th>
          <th>Units</th>
          <th>Status</th>
          <th>Price</th>
          <th>Platform</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.mutual_funds?.fund_name }}</td>
          <td>{{ transaction.units }}</td>
          <td>{{ transaction.status }}</td>
          <td>{{ transaction.price }}</td>
          <td>{{ transaction.platform }}</td>
          <td>
            <button
              (click)="openModal(transaction)"
              class="btn btn-sm btn-info mr-2"
            >
              Edit
            </button>
            <button
              (click)="deleteTransaction(transaction.transaction_id || '')"
              class="btn btn-sm btn-error"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->

  <div
    *ngIf="showModal"
    id="middle-center-modal"
    class="overlay modal overlay-open:opacity-100 overlay-open:duration-300 modal-middle hidden open opened"
    role="dialog"
    tabindex="-1"
  >
    <div
      class="modal-dialog overlay-open:opacity-100 overlay-open:duration-300"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{ selectedTransaction ? "Edit Transaction" : "Add Transaction" }}
          </h3>
          <button
            type="button"
            class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
            aria-label="Close"
            data-overlay="#middle-center-modal"
          >
            <span class="icon-[tabler--x] size-4"></span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Fund</span>
              </label>
              <select class="select select-bordered" formControlName="fund_id">
                <option value="" disabled>Select Fund</option>
                <option *ngFor="let fund of funds" [value]="fund.fund_id">
                  {{ fund.fund_name }}
                </option>
              </select>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Transaction Date</span>
              </label>
              <input
                type="date"
                class="input input-bordered"
                formControlName="transaction_date"
              />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Transaction Type</span>
              </label>
              <select
                class="select select-bordered"
                formControlName="transaction_type"
              >
                <option value="BUY">BUY</option>
                <option value="SELL">SELL</option>
              </select>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Units</span>
              </label>
              <input
                type="number"
                placeholder="Units"
                class="input input-bordered"
                formControlName="units"
              />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Price</span>
              </label>
              <input
                type="number"
                placeholder="Price"
                class="input input-bordered"
                formControlName="price"
              />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Platform</span>
              </label>
              <input
                type="text"
                placeholder="Platform"
                class="input input-bordered"
                formControlName="platform"
              />
            </div>
            <div class="modal-action">
              <button type="submit" class="btn btn-primary">
                {{ selectedTransaction ? "Update" : "Create" }}
              </button>
              <button type="button" class="btn" (click)="closeModal()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="failedTransactions.length > 0">
    <h3>Failed Transactions</h3>
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Fund Code</th>
          <th>Units</th>
          <th>Price</th>
          <th>Platform</th>
          <th>Error</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of failedTransactions">
          <td>{{ transaction.transaction_date }}</td>
          <td>{{ transaction.transaction_type }}</td>
          <td>{{ transaction.fund_code }}</td>
          <td>{{ transaction.units }}</td>
          <td>{{ transaction.price }}</td>
          <td>{{ transaction.platform }}</td>
          <td>{{ transaction.error }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
